<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="guestbook" class="delete-form">
        <form method="post" action="{% url 'guestbook:delete' %}">
            {% csrf_token %}
            <input type='hidden' name="idval" value="{{ id }}">
            <label>비밀번호</label>
            <input type="password" name="password">
            <input type="submit" value="확인">
        </form>
        <button><a href="{% url 'guestbook:guestbook' %}">취소</a></button>
    </div>
</body>
</html>