<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>TODO LIST</h1>
        <p>
            <button><a href="{% url 'todo:todo_post' %}">ADD TODO</a></button>
            <button><a href="{% url 'todo:todo_done_list' %}" >완료한 TODO 목록</a></button>
        </p>
        <ul class="list-group">
          {% for todo in todos %}
            <li class="list-group-item">
              <a href="{% url 'todo:todo_detail' todo.id %}">{{ todo.title }}</a>
              {% if todo.important %}
                <span class="badge badge-danger">!</span>
              {% endif %}
                <button><a href="{% url 'todo:todo_done' todo.id %}">완료</a></button>
                <button><a href="{% url 'todo:todo_edit' todo.id %}">수정하기</a></button>
                <br>
                <hr>
              
            </li>
          {% endfor %}
        </ul>
      </div>
</body>
</html>