<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>COMPLETED TODO LIST</h1>
        <p>
            <button><a href="{% url 'todo:todo_list' %}">돌아가기</a></button>
        </p>
        <ul class="list-group">
          {% for done in dones %}
            <li class="list-group-item">
              <a href="">{{ done.title }}</a>
              {% if todo.important %}
                <span class="badge badge-danger">!</span>
              {% endif %}
              <button><a href="{% url 'todo:todo_discard' done.id %}">완료 취소</a></button>
                <button><a href="{% url 'todo:todo_edit' done.id %}">수정하기</a></button>
                <br>
                <hr>
            </li>
          {% endfor %}
        </ul>
      </div>
</body>
</html>